html, body{
    font-family: 'Helvetica', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Arial, sans-serif;
    color: #333;
    /* background-color: #e5ebed; */
}
.container{
    position: relative;
    margin: 20px auto;
    padding: 5px;
    width: 600px;
    height: auto;
    background-color: #f1f1f2;
    border: thin sold rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.main-title{
    margin-top: 30px;
    text-align: center;
}
.separator{
    position: relative;
    display: block;
    width: 100%;
    margin: 5px;
    border-bottom: thin solid rgba(0, 0, 0, 0.3);
}
.input{
    position:relative;
    margin: 0;
    padding: 15px;
}
.input-text{
    display: block;
    border: thin solid #999999;
    border-radius: 4px;
    font-size: 0.8rem;
    color: #555;
    font-weight: 700;
    width: 100%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.list{
    position: relative;
    display: flex;
    flex-direction: column;
}
.list > .item-list {
    display: flex;
    align-items: center;
    margin-top: 5px;
    padding: 10px;
    width: 100%;
    height: 50px;
    border: thin solid #999;
    background-color: #fff;
    color: #999;
    font-size: 0.8rem;
    font-weight: 400;
    border-radius: 4px;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    box-sizing: border-box;
}
.item-list > .flex-1-auto{
    flex: 1 auto;
}
.button{
    border: none;
    background-color: rgb(252, 71, 71);
    color: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    padding: 10px;
    cursor:pointer;
}
