html, body{
    font-family: 'Helvetica', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Arial, sans-serif;
    color: #333;
    /* background-color: #e5ebed; */
}
.container{
    position: relative;
    margin: 50px auto;
    padding: 10px;
    width: 500px;
}
.main-title{
    display: flex;
    padding-bottom: 10px;
    border-bottom: thin solid rgba(0, 0, 0, 0.3);
}
.main-title > span{
    flex: 1 auto;
}
.main-title > button.add-tag{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border: thin solid rgb(15, 88, 191);
    color: rgb(15, 88, 191);
    background-color: transparent;
    border-radius: 50%;
    font-size: medium;
    font-weight: 700;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.main-title > button.add-tag:hover{
    background-color: rgb(15, 88, 191);
    color: #fff;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.tags-container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.tag{
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 10px;
    border: thin solid rgb(15, 88, 191);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.tag.active{
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 10px;
    border: thin dotted rgb(232, 25, 201);
    color: rgb(232, 25, 201);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.tag > span{
    margin-right: 10px;
}
.tag > button.close{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: thin solid rgb(15, 88, 191);
    color: rgb(15, 88, 191);
    background-color: #fff;
    border-radius: 50%;
    font-size: x-small;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.tag.active > button.close {
    border: thin solid rgb(232, 25, 201);
    color: rgb(232, 25, 201);
}

.tag:hover{
    background-color: rgb(15, 88, 191);
    color: #fff;
}
.tag.active:hover{
    background-color: rgb(232, 25, 201);
    color: #fff;
}
.tag:hover > button.close{
    border-color: #fff;
    color: #fff;
    background-color: transparent;
}
.tag.active:hover > button.close{
    border-color: #fff;
    color: #fff;
    background-color: transparent;
}